<div style="background-color:white; width:100%; height:100%; overflow:scroll">
  <button type="submit" class="btn btn-default" ng-disabled="formnetwork.$invalid || networkErrors.someError" ng-click="editNetworkElement()"> 
    <i class="glyphicon glyphicon-floppy-saved"> </i>    Save
  </button> 

  <button type="submit" class="btn btn-default" ng-click="cancelNetworkElement()"> 
    <i class="glyphicon glyphicon-arrow-left"> </i>    Back 
  </button> 
  <h3 class="text-center">Edit Network </h3>
    <div class="row">
      <div class="form-group"> 
        <!-- NAME CONTAINER -->
        <label class="control-label col-sm-2" for="nameNetwork">Name: </label>
        <div class="col-sm-9">
  <form class="" id="formnetwork" name="formnetwork" novalidate>
          <input type="text"  id="nameNetwork" class="form-control" name="nameNetwork" ng-model="n.name"  
           ng-change="checkNetworkDuplicates($event)"
           ng-required="true"
           ng-class="{
           'invalid-syntax': formnetwork.nameNetwork.$invalid
           }"	
           placeholder="Enter name"
        >
        </div>
      </div>  

    </div> <!-- end form-group --> 
    <br>
    <div class="row">
      <div class="form-group">
        <label class="control-label col-sm-2" for="subnet">Subnet: </label>
        <div class="col-sm-9">
          <input type="text" 
                 class="form-ip" 
                 id="subnet_one"  
                 name="subnet_one"  
                 maxlength="3"  
                 ng-pattern="/^([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])/"
                 ng-class="{
                 'invalid-syntax': formnetwork.subnet_one.$invalid
                 }"	
                 ng-model="subnet.first" 
                 ng-change="checkNetworkDuplicates($event)"
                 ng-required="true"> 
          <b class="text-center">:</b>

          <input type="text" 
                 class="form-ip" 
                 id="subet_two"  
                 name="subnet_two" 
                 size="3" maxlength="3"  
                          ng-pattern="/^([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])/"
                          ng-class="{
                          'invalid-syntax': formnetwork.subnet_two.$invalid
                          }"	
                          ng-model="subnet.two"
                          ng-change="checkNetworkDuplicates($event)"
                          ng-required="true"> 

          <b class="text-center">:</b>
          <input type="text" 
                 class="form-ip" 
                 id="subnet_three"	
                 name="subnet_three" 
                 size="3" maxlength="3"  
                          ng-pattern="/^([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])/"
                          ng-class="{
                          'invalid-syntax': formnetwork.subnet_three.$invalid
                          }"	
                          ng-change="checkNetworkDuplicates($event)"
                          ng-model="subnet.three"
                          required> 
          <b class="text-center">:</b>
          <input type="text" 
                 class="form-ip" 
                 id="subnet_four"
                 name="subnet_four" 
                 size="3" maxlength="3"  
                          ng-pattern="/^([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])/"
                          ng-class="{
                          'invalid-syntax': formnetwork.subnet_four.$invalid
                          }"	
                          ng-change="checkNetworkDuplicates($event)"
                          ng-model="subnet.four" readonly style="margin-right:0"
                                                          required> 
          <i> /24 </i>
        </div>
        <!-- <input colorpicker colorpicker-with-input="false" readonly class="form-color" ng-model="n.color" style="background-color:{{n.color}}" type="text" /> -->
      </div>	
    </div>
    <input type="text" 
           ng-model="n.more_validation" 
           style="visibility:hidden" 
           name="network_more_validation" 
           ng-required="true" 
           >
  </form>
<!-- ERROR NETWORK -->
<div class="error-style text-danger" ng-model="networkErrors"
     ng-style="{ 'visibility' : (networkErrors.someError)? 'visible': 'hidden'}" > 
     {{networkErrors.message}}
</div>
</div> <!-- END FORM DIV -->

  </div> <!-- end network -->
