<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Change github repo</h3>
</div>
<div class="modal-body" id="modal-body">
	<p>Have you already update current repo ? Change github repo will delete all local changes, pls make sure that you've pushed via git cli your local changes</p>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="$ctrl.ok()">Proceed</button>
    <button class="btn btn-danger" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
