<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Copy files from {{$ctrl.lab.namecontainer}} </h3>
</div>
<div class="modal-body" id="modal-body">
  <p class="row">
    <div class="col-sm-6"><label> Select path </label> </div>
    <div class="col-sm-6"><input text ng-model="$ctrl.pathSelected" ></div>
  </p>

  <p class="row">
    <div class="col-sm-6"> <label> Download </label> </div>
    <div class="col-sm-2"><input type="submit" class="btn btn-primary" ng-click="$ctrl.download()" value="Get"></div>
    <div class="col-sm-2"><button class="btn btn-danger" type="button" ng-click="$ctrl.cancel()">Exit</button></div>
  </p>
    
</div>
<br>
<br>
<div ng-show="$ctrl.fileDownload" class="modal-footer row">
  <div class="col-sm-12 text-left"> You can download ad <a ng-click="$ctrl.getFile()" href="#" >  {{$ctrl.fileDownload}} </a> </div>
</div>
