<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Docker Security Playground </title>
	<!-- BOOTSTRAP STYLES-->
    <link href="assets/css/bootstrap.css" rel="stylesheet" />
     <!-- FONTAWESOME STYLES-->
    <link href="assets/css/font-awesome.css" rel="stylesheet" />
     <!-- MORRIS CHART STYLES-->
    <link href="assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
        <!-- CUSTOM STYLES-->
    <link href="assets/css/custom.css" rel="stylesheet" />
     <!-- GOOGLE FONTS-->
   <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar navbar-brand" href="index.html">LOGO</a> 
            </div>
   	 	<ul id="breadcrumb" > 

		<li><a href="#">DSP  </a></li>
		<li><a href="#">DockerSecurityProjects  </a></li>
		<li><a href="#">HackingWeb  </a></li>
		<li class="active"><a href="#" >Edit Lab  </a></li>

		</ul>
		<div style="color: white;
		padding: 15px 50px 5px 50px;
		float: right;
		font-size: 16px;"> 
		<ul class="nav nav-tabs nav-tabs-blue ">
		      <li class="active" ><a href="#">Projects</a></li>
		      <li ><a href="#">Labels</a></li>
		      <li><a href="#">Configuration</a></li>
		      <!--<li><a href="#"> <span class="fa fa-align-justify"> </span> </a></li>-->
	
		    </ul>


        </nav>   




           <!-- /. NAV TOP  -->
                <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

				<li class="text-center">
                    <img src="assets/img/find_user.png" class="user-image img-responsive"/>
					</li>
				
				<li class="text-center">
					<a href="#"> 
				<form role="form">
		
                                        <div class="form-group input-group">
                                            <input type="text" class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default" type="button"><i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
					
					  <div class="row checkbox">
					      <div class="col-sm-3"><label><input type="checkbox"><span style="background:green" class="label label-primary"> Web hacking  </span></label> </div>
					    </div>
					    <div class="row checkbox">
					      <div class="col-sm-3"><label class="text-left"><input type="checkbox"><span class="label label-primary"> Beginner</span></label> </div>
					    </div>
					   <div class="row checkbox">
					    <div class="col-sm-3">  <label><input type="checkbox"><span style="background:green" class="label label-primary"> Web hacking  </span></label> </div>
					    </div>


                                    </form>

					</a>
				</li> <!-- end search form -->
			   <li> <!-- Start docker security projects -->
				<a href="#" class="active-menu"><i class="fa fa-sitemap fa-3x"></i> Docker Security Projects<span class="fa arrow"></span></a>
				<ul class="nav nav-second-level">
				    <li>
					<a href="#" class="tree-active"> Anonyweb
						<br><span style="margin-left:20px" class="label label-primary">Web hacking </span>
						<br><span style="margin-left:20px" class="label label-success">Beginner</span>
						<br><span style="margin-left:20px" class="label label-warning">Dain</span>

					</a>
				    </li>
				    <li>
					<a href="#" >ftp vuln</a>
				    </li>
				    
				</ul>
			    </li>         

                            

		   <li> <!-- Start docker security projects -->
                        <a href="#" ><i class="fa fa-sitemap fa-3x"></i> Docker Security Projects<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

				<li>
					<a href="#"> Test my one
						<br><span style="margin-left:20px" class="label label-primary">Testo one</span>
						<br><span style="margin-left:20px" class="label label-success">Beginner</span>
						<br><span style="margin-left:20px" class="label label-warning">Dain</span>

					</a>
				    </li>
				    <li>
					<a href="#">Test my two</a>
				    </li>
                            
                        </ul>
                    </li> <!-- End docker security projects -->
                </ul>
               
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                     <h1 id="name_lab">Lab name</h1>   
                        <h4 id="description_lab">Description lab</h4>
                    </div>
                </div>              
                 <!-- /. ROW  -->
                  <hr />
		<div class="main_content"> 

			</div>
                 <!-- /. ROW  -->
                <hr />                
                
                
                 <!-- /. ROW  -->
                
                 <!-- /. ROW  -->
                     
                 <!-- /. ROW  -->           
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="assets/js/jquery-1.10.2.js"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="assets/js/bootstrap.min.js"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="assets/js/jquery.metisMenu.js"></script>
     <!-- MORRIS CHART SCRIPTS -->
     <script src="assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="assets/js/morris/morris.js"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="assets/js/custom.js"></script>
    
  <footer>&copy giper MIT licensed 2017</footer> 
</body>
</html>
