<style>
.ace-run { height: 100px; }
</style>
<div id="page-wrapper" >
  <script>
  </script>
  <div id="page-inner">
      <h1 class="text-center" > Hacktools </h2>
        <div ng-include="'views/services.html'"> </div>
    <!-- <div ng-show="ctrl.isRunning === true" class="alert alert-success text-center"> <b>Lab is running </b></div> -->
    <!-- <div ng-show="ctrl.noImages === true" class="alert alert-warning text-center"> <b>Some images are not installed. Go to the <a href="/images#{{ctrl.lab.name}}">Images Manager</a></b></div> -->
    
      
      
      
    
    
    
    
    
  </div>
</div>              
