<style>
.adjust-label {
  padding-top: 4px
}
</style>
<div id="page-wrapper">
  <h1 class="text-center"> Manage Images </h1>
  <hr>	
  <div id="page-inner">
     <div class="btn-group">
        <label class="btn btn-primary" ng-model="imagePanel" uib-btn-radio="'repo_images'">Repo Images</label>
        <label class="btn btn-primary" ng-model="imagePanel" uib-btn-radio="'all_images'">All Images</label>
        <label class="btn btn-primary" ng-model="imagePanel" uib-btn-radio="'dockerfiles'">Dockerfiles</label>
    </div>
    <div ng-if="imagePanel === 'repo_images'">
          <h2 class="text-center"> Repo Images </h2>
    <hr>

    <div class="list-group">
      <div ng-repeat="i in imageList" class="panel panel-default">
          <div class="panel-heading">{{ i.repoName }}</div>
          <div class="panel-body">
            <table class="table table-hover ">
                <tbody>
                
                    <tr id="{{li.nameLab}}" ng-repeat="li in i.lab_images">
                        
                    <td class="text-center"> 
                      <a href="/lab/use/{{i.repoName}}/{{ li.nameLab }}" > {{ li.nameLab }} </a>
                    <p> 
                    <button class="btn btn-default" ng-click="downloadAll(li)"> Download All </button>
                    </p>
                    
                    </td>
                    <td class="text-center"> 
                        <ul class="list-group">
                            <li class="list-group-item borderless" ng-repeat="p in li.images">
                            <div class="row">
                                <b class="{{ p.textType }} col-sm-6">
                                    {{ p.name }}
                                </b>
                                <div ng-if=!p.contains class="col-sm-3">
                                  <a href="" id="downloadImage" ng-class="{disabled : p.disabled}" ng-click="downloadImage(p)" >Download   <span class="glyphicon glyphicon-download"></span></a>
                                </div>
                                <div ng-if=p.contains class="col-sm-3">
                                    <a href="" id="delAction" ng-click="delImage(p)" >Delete   <span class="glyphicon glyphicon-remove"></span></a>
                                </div>

                            </div>
                            <div ng-switch="p.isExtracting" ng-show="p.isVisible" class="row">
                                <br>
                                <md-progress-linear md-mode="determinate" value="{{p.progress}}" ng-switch-default></md-progress-linear>
                                <md-progress-linear md-mode="indeterminate" ng-switch-when="true"></md-progress-linear>
                             <!-- <textarea ng-if=p.progress class="form-control" rows="5" id="comment">
                                    {{ p.progress }} 
                                </textarea> --> 
                            </div>
                            </li>
                        </ul> 
                    
                    </td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
                <!-- All Images --> 
     <div ng-if="imagePanel === 'all_images'">
          <h2 class="text-center"> Installed Docker Images </h2>
    <hr>
    <form>
      <div class="row form-group">
        <div class="col-sm-2"> <label class="adjust-label control-label" for="download">Name Image:</label> </div>
       <div class="col-sm-6">
         <input type="text" class="form-control" id="download" ng-model="imageToDownload" >
       </div>
         <div class="col-sm-3">
           <button class="btn btn-default" ng-click="downloadNewImage(imageToDownload)"> <span class="glyphicon glyphicon-download" ></span>  Download</button>
         </div>
      </div>  
    </form>
    <ul class="list-group">
      <li class="list-group-item borderless" ng-repeat="ele in allImages"> 
        <div ng-if=ele.contains class="row"> 
          <div class="col-sm-6" ng-class="ele.textType"> <b>{{ ele.name }} </b></div>
          <div  class="col-sm-6">
            <a href="" id="delAction" ng-click="delImage(ele)" >Delete   <span class="glyphicon glyphicon-remove"></span></a>
        </div>
        </div>
      
      
      </li>
    </ul>


    </div>   
     <div ng-if="imagePanel === 'dockerfiles'">
      <h2 class="text-center">Dockerfiles</h2>
      <hr>
      <form class="form-inline">
        <input type="text" size=35 class="form-control" ng-model="dockerFileToCreate.name" placeholder="Image name" id="" >
        <button type="button" class="btn btn-success" ng-click="createDockerFile()" >Create</button>
      </form>
      <br />
             <form role="form">
               <div class="form-group input-group">
                 <input type="text" class="form-control" ng-model="dockerFilterName" placeholder="Name filter">
                   <span class="input-group-btn">
                     <div class="btn btn-default"><i class="fa fa-search"></i>
                     </div>
                   </span>
                 </div>
               </form>
         <hr />
         <table class="table table-hover ">
           <tbody>
             <tr ng-repeat="d in dockerFiles | filter :dockerFilterName">
               <td class="text-center">{{d}}</td>
              <td class="text-center">  
                  <div class="row">
                    <div class="col-sm-6 text-center" ><a class="editing-components" >  <span uib-popover="Edit" popover-trigger="'mouseenter'"  ng-click="editDockerFile(d)" class="fa fa-pencil"> </span> </a> </div>
                    <div class="col-sm-6 text-center"><a class="editing-components" ><span uib-popover="Remove" popover-trigger="'mouseenter'" class="fa fa-remove" ng-click="deleteDockerFile(d)"> </span> </a> </div>
                  </div>
              </td> 
             </tr>
           </tbody>
         </table>

      </div>
    
    
          <!-- <a  id="addAction" href="" ng-click="graphAction($event)" > <div class="glyphicon glyphicon-plus"></div></a></span> -->

        <!-- <div class="row"> -->
        <!--     <div class="col-sm-4"> -->
        <!--         <i style="margin-left:10px">{{ i.name }} </i> -->
        <!--     </div> -->
        <!--     <div class="col-sm-4"> -->
        <!--         <i style="margin-left:10px">{{ i.name }} </i> -->
        <!--     </div> -->
  </div>
</div>
