<div id="page-wrapper" >
  <div id="page-inner">
    <div ng-show="ctrl.isRunning === true" class="alert alert-success text-center"> <b>Lab is running </b></div>
    <div class="row">
      <div class="col-sm-4"> 
        <button ng-show="ctrl.actionVisible" 
          class="btn btn-primary"
          ng-click="ctrl.copyLab()"
          > 
          Copy 
        </button>
        <button 
        class="{{ctrl.deleteImportButton.class}}"
        ng-click="ctrl.deleteImportButton.action()"
        >
        {{ctrl.deleteImportButton.label}}
        </button> 

      </div>	
    <div style="margin-top:20px" class="col-sm-4">
      <h1 class="text-lg" id="name_lab">{{ctrl.lab.name}}</h1>   
      <h4 id="description_lab">{{ctrl.lab.description}}</h4>
    </div>
    <div ng-show="ctrl.actionVisible" class="col-sm-4" > 
      <!-- Panel edit options -->
      <div class="row lateral_options">
      <div class="col-sm-6" > <a ng-click="ctrl.goToEditNetwork()" class="fa fa-pencil-square btn btn-warning"> Edit infos </a> </div>
      <div class="col-sm-6" ng-show="ctrl.editVisible"> <a href="#" ng-click="ctrl.goToNetwork(ctrl.repoName, ctrl.lab.name)"  class="fa fa-cloud btn btn-warning"> Edit Network  </a> </div>
      </div>
    </div>
          
    <!-- Endo panel edit options -->

    </div>
  <hr>
  <div> 
    <h2 class="text-center" > Goal </h2>
    <div ng-bind-html="ctrl.tinymceHtmlGoal"></div>
  </div>


    <h2 class="text-center" ><a  ng-click="isSolutionShowed = !isSolutionShowed" href="#"> Solution</a> </h2>

  <div ng-show="isSolutionShowed" 
    class="large_div"
    ng-bind-html="ctrl.tinymceHtmlSolution"
    
    ></div>
    <br>
    <br>
    <br>
    <div class="text-center row"> 
    <button ng-click="ctrl.buttonAction.action(ctrl.lab.name)" class="{{ctrl.buttonAction.class}}"> {{ctrl.buttonAction.label}} </button>	

  </div>              
<!-- /. PAGE INNER  -->
</div>
