<style>
  .ace-run {
    height: 100px;
  }
  .terminal {
    background: #111;
    color: #EEE;
    max-height: 250px;
    overflow-y: scroll;
    font-size: 0.9em;
  }
</style>
<div id="page-wrapper">
  <script src="assets/mxgraph/common.js"> </script>
  <script src="assets/mxgraph/use_utils.js"> </script>
  <script>
    $(document).ready(function () {
      main(document.getElementById("graphContainer"));
      var appScope = angular.element(document.getElementById("page-wrapper")).scope()
      appScope.registerCallback(function (data) {
        var canvasXML = data.canvasJSON;
        if (Graph__isValidXML(canvasXML)) {
          var doc = mxUtils.parseXml(canvasXML);
          var codec = new mxCodec(doc);
          codec.decode(doc.documentElement, theGraph.getModel());
          // Graph__updateLabels(appScope);
        } else {
          Graph__CreateGraphFromStructure(data);
        }
      });
      appScope.init();
    });
  </script>
  <div id="page-inner">

    <div class="media my-5">
      <div class="media-left">
        <i class="fa fa-fw fa-cube fa-4x media-object"></i> 
      </div>
      <div class="media-body">
        {{currentName}}
        <!-- <h3 class="media-heading" class="single-line" on-finish="changeLabName()" contenteditable="true" ng-model="currentName">{{ctrl.lab.name}}</h3> -->
        <h3 class="media-heading" class="single-line" ng-model="currentName">{{ctrl.lab.name}}</h3>
        <ul class="list-inline">
          <li ng-repeat="label in ctrl.lab.labels">
            <span class="label label-primary" style="background-color:{{label.color}}"><i class="fa fa-fw fa-tag"></i> {{label.name}}</span>
          </li>
        </ul>
      </div>
    </div>


    <div class="text-right">
      <button ng-show="ctrl.actionVisible" class="btn btn-primary" ng-click="ctrl.copyLab()">
        <i class="fa fa-fw fa-copy"></i> Copy
      </button>
      <button class="{{ctrl.deleteImportButton.class}}" ng-click="ctrl.deleteImportButton.action()">
        <i class="{{ctrl.deleteImportButton.icon}}"></i> {{ctrl.deleteImportButton.label}}
      </button>
    </div>


    <div class="{{labState.statusClass}}">
      <div class="row">
        <div class="col-md-10">
          <h4><i class="{{labState.statusIcon}}"></i> {{labState.statusLabel}}</h4>
        </div>
        <div class="text-right">
          <div ng-show="!ctrl.exists">
            <button class={{ctrl.buttonAction.class}} id="labState" href="#" ng-click="ctrl.buttonAction.action()">
              <span class="{{ctrl.labState.actionClass}}"></span> {{ctrl.buttonAction.label}}
            </button>
          </div>
          <div ng-show="ctrl.exists && !CurrentLabService.noImages">
            <button ng-disabled="labState.actionLabel === 'Loading'" class="{{labState.actionButton}}" id="labState" href="#" ng-click="action()">
              <span class="{{labState.actionClass}}"></span> {{labState.actionLabel}}
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- <div ng-show="CurrentLabService.noImages === true" class="bs-callout bs-callout-warning">
      <h4><i class="fa fa-warning text-warning"></i> Some images are not installed</h4>
      <i class="fa fa-angle-right"></i> Go to the <a href="/images#{{ctrl.repoName}}_{{ctrl.lab.name}}">Images Manager</a>
    </div> -->

    <div ng-show="labError === true" class="bs-callout bs-callout-danger">
      <h4><i class="fa fa-fw fa-warning"></i> Error</h4>
      <code class="pt-2">{{responseError}}</code>
    </div>

    <!-- <div ng-show="ctrl.isRunning === true" class="alert alert-success text-center"> <b>Lab is running </b></div> -->
    <!-- <div ng-show="ctrl.noImages === true" class="alert alert-warning text-center"> <b>Some images are not installed. Go to the <a href="/images#{{ctrl.lab.name}}">Images Manager</a></b></div> -->

    <div class="row">

      <div ng-show="ctrl.actionVisible" class="col-sm-4">
        <!-- Panel edit options -->
        <div class="row lateral_options">
          <div class="col-sm-6">
            <a ng-click="ctrl.goToEditNetwork()" class="fa fa-pencil-square btn btn-warning">
              Edit info
            </a>
          </div>
          <div class="col-sm-6" ng-show="ctrl.editVisible">
            <a href="#" ng-if="!isImported"  ng-click="ctrl.goToNetwork(ctrl.repoName, ctrl.lab.name)" class="fa fa-cloud btn btn-warning">
              Edit Network
            </a>
          </div>
        </div>
      </div>

      <!-- Endo panel edit options -->

    </div>
    <br>
    <!-- Show only if alert is not closed, lab is imported and ctrl action is not visible (lab not belonging to user)-->
    <div uib-alert ng-if="!isAlertClosed && isImported && ctrl.actionVisible"  class="alert-info" close="closeAlert()"> 
      It seems that this lab is imported. You cannot Edit Network.

    </div>

    <div ng-show="CurrentLabService.noImages === true" class="panel panel-default">
      <div class="panel-heading"><h5><i class="fa fa-fw fa-download"></i> Download Images</h5></div>
      <div class="panel-body">
        <images-component download="download"></images-component>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><i class="fa fa-fw fa-info"></i> Goal <span class="float-right"> 
        <div ng-show="ctrl.actionVisible">
        <div ng-show="!ctrl.isGoalEditShowed">
              <a ng-click="editGoal()" class="btn btn-default btn-xs"> <i class="fa fa-fw fa-edit"></i></a>
        </div>
              <div ng-show="ctrl.isGoalEditShowed">
                <a ng-click="saveGoal()"  class="btn btn-default btn-xs"> <i class="fa fa-fw fa-save"></i></a>
                <a ng-click="cancelGoal()" class="btn btn-default btn-xs"> <i class="fa fa-fw fa-close"></i></a>
                </div>
              </div>
      </span></div>
      <div class="panel-body">
        <!-- Goal-->
        <div ng-bind-html="ctrl.lab.goal" ng-show="!ctrl.isGoalEditShowed"></div>
        <!-- Edit Goal-->
        <div class="row" ng-show='ctrl.isGoalEditShowed'>	
          <div class="row"> 
                <ul class="col-sm-offset-9 nav nav-tabs">
                      <li 
                    ng-class="{'active' : !ctrl.isGoalPreviewOpen}">
                        <a href="#"
                          ng-click="ctrl.isGoalPreviewOpen = false  ">
                        Edit
                      </a>
                    </li>

                      <li
                    ng-class="{'active' : ctrl.isGoalPreviewOpen}">
                        <a href="#"
                          ng-click="ctrl.isGoalPreviewOpen = true  "
                          >
                        Preview
                      </a>
                    </li>
                  </ul> 
              </div>	  
            <div class="form-group">
          <div ng-show='!ctrl.isGoalPreviewOpen' class="col-sm-12">
          <textarea ui-tinymce="tinymceOptions"
                  rows="20"
                  ng-change="ctrl.updatePreviewGoal()"
            ng-model="ctrl.lab.goal">
          </textarea>
            <!--<input type="name" class="form-control" ng-model="ctrl.lab.goal" id="goal" > -->
          </div>
        </div>
                <div ng-show='ctrl.isGoalPreviewOpen'>
                    <h4>  Preview </h4>
                    <div ng-bind-html="ctrl.previewGoal"></div> 
                    <hr>
                </div>
          </div>



      </div>
    </div>
    
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-fw fa-terminal"></i> Logs
      </div>
      <div class="panel-body terminal text-monospace" ng-show="notify">
        <div ng-bind-html="trustedHtml(notify)"></div>
      </div>
      <div class="panel-footer text-right">
        <button class="btn btn-default" ng-click="clearLogs()">
          <i class="fa fa-fw fa-eraser"></i> Clear Logs
        </button>
      </div>
    </div>

    <div ng-show="!CurrentLabService.noImages">

      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-fw fa-cube"></i> Container</div>
        <div class="panel-body">

          <uib-tabset active="active">
            <uib-tab  ng-if="markdown" index="0" heading="Description">
                <p>{{ctrl.lab.description}}</p>
                <div class='iiMdPreview' text="{{readme}}"></div>
              <!-- GRAPH CANVAS -->
              <!-- <div class="alert alert-warning text-center"> <b>The graph has been generated automatically (create with DSP V.2), current version is 3, maybe you should update the repository</b></div> -->
              <!-- END GRAPH CANVAS -->
            </uib-tab>
            <uib-tab ng-if="!isImported" index="1" heading="Graph">
              <br>
              <!-- GRAPH CANVAS -->
              <div id="graphContainer"></div>
              <!-- <div class="alert alert-warning text-center"> <b>The graph has been generated automatically (create with DSP V.2), current version is 3, maybe you should update the repository</b></div> -->
              <br>
              <br>
              <br>
              <!-- END GRAPH CANVAS -->
            </uib-tab>
            <uib-tab index="2" heading="Docker-Compose">
              <br>
              <h4 class="text-center"> Docker Compose </h4>
              <div ng-show="yamlfile !== ''" class="row">
                <div class="col-sm-offset-1 col-sm-10">
                  <!-- <h4 class="text-center"> JSON Docker Compose </h4> -->
                  <pre> <code id="code_yaml" class="language-yaml"></code></pre>
                </div>
              </div>
            </uib-tab>
            <uib-tab ng-if="isLabRun" index="3" select="updateManagedServices()" heading="Managed Services">
              <div ng-include="'views/managed-tools.html'"> </div>
            </uib-tab>
            <uib-tab ng-if="isLabRun" index="4" heading="Hack Tools">
              <div ng-include="'views/services.html'"> </div>
            </uib-tab>
            <uib-tab ng-if="isLabRun" index="5" heading="Network Elements">
              <h4 class="text-center">Containers</h4>
              <hr>
              <div class="list-group">
                <div id="{{c.name}}" class="list-group-item" ng-repeat="(key,c) in listContainers">
                  <div class="row">
                    <div class="col-sm-6">
                      {{c.name}}
                    </div>
                    <div class="col-sm-6">
    
                      <div class="row">
                        <div class="col-sm-1">
                          <button class="glyphicon glyphicon-share" ng-click="goToContainer(c.name)">
                        </div>
                        <div class="col-sm-1 col-sm-offset-1">
                          <button class="glyphicon glyphicon-download" ng-click="copyFromContainer(c.name)">
                        </div>
                      </div>
    
                    </div>
                  </div>
                </div>
              </div>
            </uib-tab>
            <uib-tab ng-if="isLabRun" index="6" heading="Monitoring">
              <div ng-include="'views/monitoring.html'"> </div>
            </uib-tab>
          </uib-tabset>

        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row">
            <div class="col-md-8">
              <i class="fa fa-fw fa-map"></i> Solution
            </div>
            <div class="col-md-4 text-right">
              <a ng-click="isSolutionShowed = !isSolutionShowed" href="#" title="Show/Hide the solution" class="btn btn-default btn-xs"><i ng-class="isSolutionShowed ? 'fa fa-fw fa-eye-slash' : 'fa fa-fw fa-eye' "></i></a>
        <div ng-show="ctrl.actionVisible">
            <div ng-show="!ctrl.isSolutionEditShowed">
                          <a ng-click="editSolution()" class="btn btn-default btn-xs"> <i class="fa fa-fw fa-edit"></i></a>
                    </div>
              <div ng-show="ctrl.isSolutionEditShowed">
                <a ng-click="saveSolution()"  class="btn btn-default btn-xs"> <i class="fa fa-fw fa-save"></i></a>
                <a ng-click="cancelSolution()" class="btn btn-default btn-xs"> <i class="fa fa-fw fa-close"></i></a>
             </div>
        </div>
            </div>
          </div>
        </div>
        <div class="panel-body" ng-show="isSolutionShowed || ctrl.isSolutionEditShowed" >
          <div class="large_div" ng-show="!ctrl.isSolutionEditShowed" ng-bind-html="ctrl.lab.solution"></div>

          <div class="row" ng-show='ctrl.isSolutionEditShowed'>	
                    <div class="row"> 
                          <ul class="col-sm-offset-9 nav nav-tabs">
                                <li 
                              ng-class="{'active' : !ctrl.isSolutionPreviewOpen}">
                                  <a href="#"
                                    ng-click="ctrl.isSolutionPreviewOpen = false  ">
                                  Edit
                                </a>
                              </li>

                                <li
                              ng-class="{'active' : ctrl.isSolutionPreviewOpen}">
                                  <a href="#"
                                    ng-click="ctrl.isSolutionPreviewOpen = true  "
                                    >
                                  Preview
                                </a>
                              </li>
                            </ul> 
                        </div>	  
                      <div class="form-group">
                    <div ng-show='!ctrl.isSolutionPreviewOpen' class="col-sm-12">
                    <textarea ui-tinymce="tinymceOptions"
                            rows="20"
                            ng-change="ctrl.updatePreviewSolution()"
                      ng-model="ctrl.lab.solution">
                    </textarea>
                      <!--<input type="name" class="form-control" ng-model="ctrl.lab.goal" id="goal" > -->
                    </div>
                  </div>
                          <div ng-show='ctrl.isSolutionPreviewOpen'>
                              <h4>  Preview </h4>
                              <div ng-bind-html="ctrl.previewSolution"></div> 
                              <hr>
                          </div>
                    </div>

        </div>
      </div>

    </div>
  </div>
</div>
