<div id="page-wrapper">

  <h1><i class="fa fa-fw fa-tags"></i> Labels </h1>
  <p>&nbsp;</p>

  <div id="page-inner">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th class="w-25">Name</th>
          <th class="w-50">Description</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="l in loadedLabels">
          <td>
              <div class="label label-primary" style="background-color:{{l.color}}">&nbsp;</div>
          </td>
          <td>
            {{l.name}}
          </td>
          <td>
            {{l.description}}
          </td>
          <td class="text-right">
            <div class="btn-group btn-group-xs">
              <a class="btn btn-default editing-components" uib-popover="Edit" popover-trigger="'mouseenter'" ng-click="initEdit(l)">
                <i class="fa fa-fw fa-pencil"></i>
              </a>
              <a class="btn btn-danger editing-components" uib-popover="Remove" popover-trigger="'mouseenter'" ng-click="removeLabel(l.name)">
                <i class="fa fa-fw fa-trash"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <hr>

    <form id="form-label-id" ng-submit="addLabel(labelForm)" name="formLabelName" class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-sm-2" for="nameLabel">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="labelForm.name" id="nameLabel">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="descrLabel">Description</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="labelForm.description" id="descrLabel">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="colorLabel">Background color</label>
        <div class="col-sm-10">
          <input colorpicker colorpicker-with-input="false" id="colorLabel" class="form-color" ng-model="labelForm.color" style="background-color:{{labelForm.color}}" type="text" />
        </div>
      </div>

      <hr>
      <button type="submit" class={{labelForm.action.css}}>{{labelForm.action.name}}</button>
      <div ng-click="cancelEdit()" class="btn btn-default" style="visibility:{{labelForm.visibilityCancelEdit}}">
        <i class="fa fa-fw fa-angle-left"></i> Cancel
      </div>

    </form>
  </div>
  <!-- /. PAGE INNER  -->
</div>
<!--/. PAGE WRAPPER  -->
