
<div id="page-wrapper" >
  <h6 ng-show=showRunning()> <i class="fa fa-fw fa-play"></i> Running </h6>
    <div class="btn-group" ng-repeat="r in ctrl.repos"> 
      <button ng-repeat="l in r.labs | filter :{state:'RUNNING'}" type="button" class="btn btn-primary btn-sm mr-3" href="#" ng-click="ctrl.getURL(r.name, l.name)" title="Open {{l.name }} lab">{{r.name}}/{{l.name}}</button>
    </div>
  
  <h1><i class="fa fa-fw fa-server"></i> Labs </h1>

  <div id="page-inner">
    <div class="row">
      <div class="col-sm-offset-10 col-sm-2"> 
        <a href="/lab/new" class="btn btn-success"><i class="fa fa-fw fa-plus"></i> New Lab</a>
      </div>
    </div>
    <br>

    <div class="panel panel-default">
      <div class="panel-body">
        <form role="form">
          <div class="form-group input-group">
            <input type="text" class="form-control" ng-model="filterName" placeholder="Name lab">
            <span class="input-group-btn">
              <div class="btn btn-default"><i class="fa fa-search"></i>
              </div>
            </span>
          </div>

          <ui-select multiple sortable="true" ng-model="ctrl.filteredLabels" theme="bootstrap" class="form-control" title="Choose a label">
            <ui-select-match placeholder="Label filter">{{$item.name}}</ui-select-match>
            <ui-select-choices  repeat="item in ctrl.labelProjects ">
              <div class="label label-success" style="background-color:{{item.color}}" ng-bind-html="item.name "></div>
              <small ng-bind-html="item.description "></small>
            </ui-select-choices>
          </ui-select>
          <br>
          <ui-select multiple sortable="true" ng-model="ctrl.filteredRepos" theme="bootstrap" title="Choose a repo">
            <ui-select-match placeholder="Repo filter">{{$item.name}}</ui-select-match>
            <ui-select-choices disabled repeat="item in ctrl.repos ">
              {{item.name}}
            </ui-select-choices>
          </ui-select>

        </form>
      </div>
    </div>

    <!-- <div class="row">
      <div ng-repeat="r in ctrl.filteredRepos" class="col-sm-12 col-md-6"> -->

      <!-- <div ng-repeat="r in ctrl.filteredRepos" class="col-sm-12 col-md-6"> -->
    <div class="row" ng-repeat="r in ctrl.filteredRepos" class="col-sm-12 col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><i class="fa fa-fw fa-server"></i> {{r.name}} labs</div>

          <table class="table table-hover">
            <tbody>

              <tr ng-repeat="l in r.labs | filter :{name:filterName} | filter:ctrl.hasLabel">
                <td>
                  <h5><i class="fa fa-fw fa-cube"></i> <a href="#" ng-click="ctrl.getURL(r.name, l.name)" title="Open {{l.name }} lab"> {{l.name }}</a></h5>
                  {{l.informations.description}}
                </td>
                <td class="text-right">
                  <ul class="list-inline">
                    <li ng-repeat="label in l.labels">
                      <span class="label label-primary" style="background-color:{{label.color}}"><i class="fa fa-fw fa-tag"></i> {{label.name}}</span>
                    </li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>

</div>
