<script> 
$( document ).ready(function() {
  var appScope = angular.element(document.getElementById("serviceComponent")).scope()
  appScope.init();
});

</script>
<style>
.terminal {
  background-color: black;
  border: 1px solid #000;
  color: white;
  padding: 8px;
}
</style>

<!-- <div id="serviceComponent" ng-show="labState.state === 'active' " ng-controller="DockerToolsCtrl"> -->
<div id="serviceComponent" ng-controller="DockerToolsCtrl">
  <!-- <br> -->
  <!-- currentContainer : {{currentContainer.name}} -->
  <!-- <br> -->
  <!-- <h3 class="text-center" > <a href="#" ng-click="showServices = !showServices"> Hack Tools </a> </h3> -->
  <div> 
    <hr ng-show=showTools>	
    <!-- Table sevices -->
    <table class="table" ng-show=showTools>
      <thead>
        <tr>
          <th scope="col">Main </th>
          <th scope="col">Image </th>
          <th scope="col">Ports (container port => host port) </th>
          <th scope="col">Status</th>
          <th scope="col">Networks (click on name to change default network routing) </th>
          <th scope="col">Command</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr  ng-repeat="(key,c) in listServices"	>
          <td> {{c.name}} </td>
          <td> {{c.image}} </td>
          <td>

            <div ng-repeat="p in c.ports">
              <div> {{p}} </div></br>
            </div>

          </td>
          <td> <div ng-bind-html=c.state></div> </td>
          <td> 
            <form>
              <div ng-repeat="n in networkList">
                <i> {{n.name}} </i>
                <button type="button" class="btn btn-sm btn-primary" ng-if="!containerHasNetwork(c,n)" ng-click="attachNetwork(c,n)">   Attach</button>
                <button type="button" class="btn btn-sm btn-warning" ng-if="containerHasNetwork(c,n)" ng-click="detachNetwork(c,n)">   Detach</button>
              </div>
            </form>
          </td>
          <td> 
            <i> {{c.command}} </i>
          </td>
          <td> 
            <button class="btn btn-success" ng-if="c.showRun" ng-click="startService(c.name)"> Start </button>
            <button class="btn btn-danger" ng-if="c.showRun" ng-click="deleteService(c.name)"> Delete </button>
            <div ng-if="!c.showRun">
              <div class="row">
                <div class="col-sm-3">
                  <button 
                     class="btn btn-default glyphicon glyphicon-share"
                     ng-click="goToContainer(c.name, 'false')"
                     > 
                </div>

                    <div class="col-sm-3">
                      <button 
                         class="btn btn-default glyphicon glyphicon-download"
                         ng-click="copyFromContainer(c.name, 'false')"
                         > 
                    </div>
                        <div class="col-sm-3">
                          <button 
                             class="btn btn-default glyphicon glyphicon-upload"
                             ng-click="copyInContainer(c.name, 'false')"
                             > 
                        </div>
                            <div class="col-sm-3">
                              <button 
                                 class="btn btn-danger"
                                 ng-click="stopService(c.name)"
                                 > 
                                 Stop
                              </button>
                            </div>
              </div>

          </td>
          <!-- <a href="#" ng-click="onClickEditContainer(key)" style="margin-left:20px" class="fa fa-pencil"> </a> -->
          <!-- <a href="#" ng-click="deleteContainer(key)" style="margin-left:20px" class="fa fa-remove"> </a> -->
          <!-- <a href="#" ng-click="copyContainer(key)" style="margin-left:20px" class="fa fa-files-o"> </a> -->
        </tr>
      </tbody>
    </table> <!-- END TABLE -->
    <!-- <uib-tabset active="active"> -->    
    <!--       <uib-tab index="0" heading="Re"> -->
    <div> <!-- Start add container -->
      <h3 class="text-center">{{currentAction}} </h3>
      <hr ng-show=showTools>
      <div class="row">
        <div class="col-sm-offset-4">
          <div class="btn-group" >
            <label class="btn btn-primary" ng-model="hackToolMode.val" ng-change="switchImages(hackToolMode.val)" uib-btn-radio="'oneline'" >One Line</label>
            <label class="btn btn-primary" ng-model="hackToolMode.val" uib-btn-radio="'interactive'" ng-change="switchImages(hackToolMode.val)" >Interactive</label>
          </div>
        </div>
      </div>
      <div ng-show="hackToolMode.val == 'oneline'">
        <h3 class="text-center"> One Line Hack Tool </h3>
        <h5 class="text-center"> Send your attacks by using predefined hack tools </h5>
        <br /><br />

                <!-- <table class="table table-reduced-width " > -->
                <!--     <thead> -->
                <!--       <tr> -->
                <!--         <th class="text-center">Running Hack Tool</th> -->
                <!--         <th class="text-center">Action</th> -->
                <!--       </tr> -->
                <!--     </thead> -->
                <!--     <tbody> -->
                <!--       <tr ng-repeat="c in runningHackTools"> --> 
                <!--         <td> {{c}}</td> -->
                <!--         <td> <button type="button" class="btn btn-sm btn-danger" ng-click="stopHackTool(c)">  Stop </button> </td></td> -->
                <!--       </tr> -->
                <!--     </tbody> -->
                <!-- </table> -->

        <label class="control-label col-sm-2 label_style text-left"  uib-popover="  {{currentContainer.selectedImage.description}} " popover-trigger="'mouseenter'" popover-placement="right" for="container_image"> <span class="glyphicon glyphicon-search" ></span> Image: </label>
        <div class="col-sm-4"> 
          <select 
             ng-model="currentContainer.selectedImage" 
             ng-change="changedImage(currentContainer.selectedImage)" 
             ng-required=true
             ng-options="il.name for il in imageList | filter :{name:filterImage}" class="form-control select_style" id="selector_imagelist"> 
          </select>
        </div>
        <div class="col-sm-4"> 
          <input type="text" class="form-control" name="filterImage" placeholder="Image Filter" ng-model="filterImage"  >
          </input>
        </div>

        <div class="col-sm-2">
          <button class="btn btn-default" ng-click="updateImages()"> 
            <i class="glyphicon glyphicon-refresh" > </i>
          </button>
        </div>
        <br />
        <br />
        <br />
        <div  ng-repeat="n in networkList">
          <label class="control-label col-sm-2" for="container_name">Networks: </label>
          <input class="form-check-input" type="checkbox" ng-model=n.isNetworkOnelineAttached > <label class="form-check-label"> {{n.name}} </label>
        </div>
        <label class="control-label col-sm-2" for="container_name">{{hackLabel}} </label>
        <div class="col-sm-9" >
          <input type="text" class="form-control"  
                             name="container_command" 
                             id="container_command" 
                             placeholder="Name"
                             ng-model="currentContainer.command" 
                             >	
        </div>
          <br />
          <br />
          
          <div class="text-center">
            <button ng-disabled="!currentContainer.selectedImage" type="submit" class="btn btn-success" ng-click="runServiceOneLine()" ng-show="hackToolMode.val == 'oneline'">Run Command </button>
          </div>

    <uib-tabset  active="activeTab">
    <!-- <uib-tab ng-repeat="(k, v) in terminals" index="v.name" heading="v.name"> -->
    <uib-tab ng-repeat="v in terminals" index="v.name" on-finish-render="onFinishRender()" heading="v.name">
    <uib-tab-heading>
      <button class="btn btn-deafult glyphicon glyphicon-remove-circle" ng-click=deleteHackTool(v.name)></button> {{v.name}} 
    </uib-tab-heading>
          <textarea class="terminal form-control rounded-0" rows="20">
            {{v.message}} 
          </textarea>
     </uib-tab>
   </uib-tabset>
          <br /><br />


          <!-- <div class="ace-run" ui-ace="{ -->
          <!-- theme: 'terminal', -->
          <!-- mode: 'yaml' -->
          <!-- }" -->
          <!-- ng-bind-html=hackToolNotify -->
          <!-- > </div> -->

      </div>
      <md-content class="md-padding" ng-show="hackToolMode.val == 'interactive'">
        <md-nav-bar md-selected-nav-item="selectedItem" nav-bar-aria-label="navigation links">
          <md-nav-item md-nav-sref="cname" name="cname" ng-click="changeTab(0,'cname')">Main</md-nav-item>
          <!-- <md-nav-item md-nav-sref="image" name="image" ng-click="changeTab(1,'image')">Image</md-nav-item> -->
          <!-- <md-nav-item md-nav-sref="options" name="options" ng-click="changeTab(1,'options')">Options</md-nav-item> -->
          <md-nav-item md-nav-sref="command" name="command" ng-click="changeTab(1,'command')">Command</md-nav-item>
          <md-nav-item md-nav-sref="ports" name="ports" ng-click="changeTab(2,'ports')">Ports</md-nav-item>
          <md-nav-item md-nav-sref="environments" name="environments" ng-click="changeTab(3,'environments')">Environment Variables</md-nav-item>
        </md-nav-bar>

        <ui-view></ui-view>
      </md-content>

      <ng-form name="form_add_container" id="form_add_container" class="form-horizontal" novalidate ng-show="hackToolMode.val == 'interactive'">

        <div class="form-group" ng-show=checked[0]> 


          <br />
          <!-- NAME CONTAINER -->
          <div>
            <label class="control-label col-sm-2" for="container_name">Name: </label>
            <div class="col-sm-9">
              <input type="text" class="form-control"  
                                 name="container_name" 
                                 id="container_name" 
                                 placeholder="Name"
                                 ng-pattern="nameContainerRegex"
                                 ng-model="currentContainer.name" 
                                 ng-change="checkContainerChange()"
                                 ng-required="true"
                                 ng-class="{
                                 'invalid-syntax':form_add_container.container_name.$invalid
                                 }" 	
                                 >	
            </div>
          </div>


          <div class="text text-danger" style="margin-left:45px"
                                        ng-style="{ 'visibility' : (containerErrors.someError)? 'visible': 'hidden'}" 
                                        > 
                                        {{containerErrors.message}}	
          </div>
            <br>
            <br>
            

            <label class="control-label col-sm-2 label_style text-left"  uib-popover="  {{currentContainer.selectedImage.description}} " popover-trigger="'mouseenter'" popover-placement="right" for="container_image"> <span class="glyphicon glyphicon-search" ></span> Image: </label>
            <div class="col-sm-4"> 
              <select 
                 ng-model="currentContainer.selectedImage" 
                 ng-change="changedImage(currentContainer.selectedImage)" 
                 ng-required=true
                 ng-options="il.name for il in imageList | filter :{name:filterImage}" class="form-control select_style" id="selector_imagelist"> 
              </select>
            </div>
            <div class="col-sm-4"> 
              <input type="text" class="form-control" name="filterImage" placeholder="Image Filter" ng-model="filterImage"  >
              </input>
            </div>

            <div class="col-sm-2">
              <button class="btn btn-default" ng-click="updateImages()"> 
                <i class="glyphicon glyphicon-refresh" > </i>
              </button>
            </div>
            <br />


            </div> <!-- End main -->

            <!-- </div> -->
            
            <div class="row" ng-show=checked[1]>
              <label class="control-label col-sm-2" for="container_command">Command: </label>
              <div class="col-sm-9" >
                <input type="text" class="form-control"  
                                   name="container_command" 
                                   id="container_command" 
                                   placeholder="Name"
                                   ng-model="currentContainer.command" 
                                   >	

              </div>
            </div>
                <!-- END FORM NETWORKS -->
                <!-- START COPY SHELL -->



                <!--- PORT INPUT SELECT -->
                <div class="text-center" style="margin-right:40px" ng-show=checked[2]> 
                  <table class="table table-reduced-width col-sm-offset-1" ng-show=showPorts>
                    <thead>
                      <tr>
                        <th class="text-center"> Container Port => Host Port  </th>
                        <th class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="op in optionalPorts"> 
                        <td> {{op.container}} => {{op.host}} </td>
                        <td> <button class="btn btn-danger" ng-click="removeOptionalPort($index)"> - </button></td>
                      </tr>
                    </tbody>

                  </table>
                </div>

                <div class="optionalPorts form-group" ng-show=checked[2]> 
                  <label class="control-label col-sm-2" style="margin-top:5px; font-style:italic;" for="optional_ports"> Ports</label>
                  <form name="optionalPortForm">
                    <div class="col-sm-2">
                      <input type="number"   
                             class="form-control" 
                             min=1
                             max=65535
                             ng-model="optPort.container"
                             name="containerOptPort"
                             ng-class="{
                             'invalid-syntax':optionalPortForm.containerOptPort.$invalid
                             }" 	
                             > </input>
                    </div>
                    <div class="col-sm-2">
                      <input type="number"   
                             class="form-control" 
                             min=1
                             max=65535
                             ng-model="optPort.host"
                             name="hostOptPort"
                             ng-class="{
                             'invalid-syntax':optionalPortForm.hostOptPort.$invalid
                             }" 	
                             > </input>
                    </div>
                    <div class="col-sm-2">
                      <button 
                         class="btn btn-success" 
                         ng-disabled=optionalPortForm.$invalid
                         ng-click="addOptionalPort()"
                         > 
                         + 
                      </button> 
                    </div>
                  </form>


                </div>
                <!-- ENVIRONMENTS -->

                <!-- <div class="row" ng-show=checked[4]>
                  <label class="control-label col-sm-2" >Environments: </label>
                  </div>
                  <br/> -->

                  <!-- Start Env -->
                  <div class="row" ng-show=checked[3]>
                    <table class="table table-reduced-width col-sm-offset-1" ng-show=showEnv>
                      <thead>
                        <tr>
                          <th class="text-center"> Name | Value </th> 
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="env in currentContainer.environments">
                          <td class="text-center">  {{env.name}} | {{env.value}} </td>
                          <td> <button type="button" class="btn btn-sm btn-danger" ng-click="deleteEnvironment(env.name)">   Del </button> </td>
                        </tr>
                      </tbody>
                    </table>
                    <!--<div class="col-sm-2 col-sm-offset-2">
                      {{env.name}} 
                      </div>
                      <div class="col-sm-2"> 
                      {{env.value}}
                      </div>
                      <button type="button" class="btn btn-sm btn-danger" ng-click="deleteEnvironment(env.name)">   Del </button> -->
                  </div>

                  <div class="row" ng-show=checked[3]>
                    <label class="control-label col-sm-2" >Environments: </label>
                    <div class="col-sm-2">
                      <input class="form-control" type="text" ng-model="currentEnvironment.name"> </input>
                    </div>

                    <div class="col-sm-2">
                      <input class="form-control" type="text" ng-model="currentEnvironment.value"> </input>
                    </div>
                    <button type="button" class="btn btn-sm btn-primary" ng-click="addEnvironment()">   Add </button>
                  </div>


                  <br>
                  <br>
                  <!-- <div class="form-group" ng-show=checked[0]> --> 
                  <!--                   <div class="text-center"> -->
                  <!--                     <1!-- <button type="submit" class="btn btn-success" ng-disabled="form_add_container.$invalid" ng-click="runService()">Run</button> --1> -->
                  <!--                     <button type="submit" class="btn btn-info" ng-click="changeTab(1,'image')">Choose Image</button> -->
                  <!--                   </div> -->
                  <!--                 </div> -->
                  <!-- END ENV -->



                  <!--</div> -->


                  <!-- END ACTIONS -->
                  <!-- Volumes -->
                  <!--
                    <div class="form-group"> 
                    <label class="control-label col-sm-offset-1" for="container_name">Volumes: </label>
                    </div>
                    <div ng-if="currentContainer.volumes.length > 0" >
                    <div ng-repeat="volume in currentContainer.volumes" class="row" style="margin-bottom:10px">
                    <div class="col-sm-offset-2 col-sm-8">{{volume}}</div>
                    <div class="col-sm-2"> <button ng-click="removeVolume($index)" class="btn btn-danger"> x </button> </div>
                    </div>
                    </div>



                    <div class="row">
                    <div class="col-sm-3 col-sm-offset-2 text-center"> 
                    <label class="control-label " for="container_name">Host Path</label>	 
                    </div>
                    <div class="col-sm-3 text-center"> 
                    <label class="control-label " for="container_name">Container Path</label>	 	 
                    </div>
                    </div>
                    <br>

                    <div class="row">
                    <div class="col-sm-offset-3 col-sm-3"> 
                    <input type="text" class="form-control" ng-model="volumeHost"> </input> 
                    </div><div class="col-sm-3"> 
                    <input type="text" class="form-control" ng-model="volumeContainer"> </input> 
                    </div>
                    </div>
                    <div class="row">
                    <div class="col-sm-offset-10 col-sm-1"> <button ng-click="addVolume(volumeHost, volumeContainer)" class="btn btn-success"> + </button> </div>
                    </div>
                  -->


                  

                  <div class="form-group" ng-show=checked[0]> 
                    <div class="text-center">
                      <!-- <button type="submit" class="btn btn-success" ng-disabled="form_add_container.$invalid" ng-click="runService()">Run</button> -->
                      <button type="submit" class="btn btn-info" ng-click="changeTab(1,'command')">Specify Command</button>
                    </div>
                  </div>

                  <div class="form-group" ng-show=checked[1]> 
                    <div class="text-center">
                      <!-- <button type="submit" class="btn btn-success" ng-disabled="form_add_container.$invalid" ng-click="runService()">Run</button> -->
                      <button type="submit" class="btn btn-info" ng-click="changeTab(2,'ports')">Forward Ports</button>
                    </div>
                  </div>

                  <div class="form-group" ng-show=checked[2]> 
                    <div class="text-center">
                      <!-- <button type="submit" class="btn btn-success" ng-disabled="form_add_container.$invalid" ng-click="runService()">Run</button> -->
                      <button type="submit" class="btn btn-info" ng-click="changeTab(3,'environments')">Set Env Vars</button>
                    </div>
                  </div>

                  <div class="form-group" ng-show=checked[4]> 
                    <div class="text-center">
                      <!-- <button type="submit" class="btn btn-success" ng-disabled="form_add_container.$invalid" ng-click="runService()">Run</button> -->
                    </div>
                  </div>
                  <!-- more validation in controller -->
                  <input type="text" 
                         ng-model="containerErrors.more_validation" 
                         style="visibility:hidden" 
                         name="containerErrors.more_validation" 
                         ng-required="true" 
                         value="###"> 
                  </form>
                  <hr>
                  <p class="text-center">
                  <button ng-disabled="!currentContainer.selectedImage" type="submit" class="btn btn-success" ng-click="runService()" ng-show="hackToolMode.val == 'interactive'">Run</button>


                  </p>    
            </div> <!-- END DIV CONTAINER ADD -->
            <!-- </uib-tabset> -->
            <!-- {{listServices}} -->
  </div>
</div> <!-- END  SHOW SERVICES-->
</div> <!-- END CONTROLLER -->
