<!-- /. NAV TOP  -->

<div id="dsp_logo" class="text-center">
  <img src="assets/img/dsp_logo.png" class="user-image img-responsive" />
</div>

<div ng-repeat="r in repos" class="lab pb-2">
  <div class="panel panel-default">
    <div class="panel-heading" ng-click="r.isCollapsed= !r.isCollapsed" >
      <i class="fa fa-fw fa-cubes"></i> {{r.name}} {{r.version }} labs
    </div>
    <div class="list-group" uib-collapse="r.isCollapsed">
      <a ng-repeat="lab in r.labs" href="/lab/use/{{r.name}}/{{lab.name}}" class="list-group-item">
        <div class="text-ellipsis" title="{{lab.name}}">
            <i class="fa fa-fw fa-cube"></i>
            <i ng-class="r.name === currentLab.repoName && lab.name === currentLab.name ?  'fa fa-fw fa-angle-right' : '' " aria-hidden="true"></i>
            {{lab.name}}
        </div>

        <i ng-show="lab.state === 'RUNNING'" class="fa fa-fw fa-caret-square-o-right" aria-hidden="true"></i>
        <i ng-show="lab.state === 'NO_NETWORK'" class="fa fa-fw fa-pencil" aria-hidden="true"></i>

        <ul class="list-inline">
          <li ng-repeat="label in lab.labels">
            <span style="background-color:{{label.color}}" class="label label-primary"><i class="fa fa-fw fa-tag"></i> {{label.name}}</span>
          </li>
        </ul>
      </a>
    </div>
  </div>
</div>

<!-- /. NAV SIDE  -->