		<div class="form-group"> 


		      <label class="control-label col-sm-2 label_style" for="container_ports">
 Ports:</label>
			<div class="col-sm-10"> 
			<div class="row" style="margin-top:10px">
				<div class="col-sm-2">
					<label> Container: </label> 
					<input class="form-control" 
						style="width:100px;"
						size="5" 
						maxlength="5" type="text"> 
					</input>
				</div>
				<div class="col-sm-2">
					<label> Forwarded to: </label> 
					<input class="form-control" 
						style="width:100px;"
						size="5" 
						maxlength="5" type="text"> 
					</input>
				</div>
		      </div>
		      </div>
</div>
