
body {
  font-size: 14px;
  height: auto !important; /** Solve incompatibility with AngularMaterial style */
  background: #fff;
}


.paper-theme h1 {
  font-size: 40px;
}

.paper-theme h2 {
  font-size: 35px;
}

.paper-theme h3 {
  font-size: 30px;
}

.paper-theme h4 {
  font-size: 25px;
}

.paper-theme h5 {
  font-size: 20px;
}

.paper-theme h6 {
  font-size: 15px;
}
  
footer {
  margin: 50px;
}

#dsp_logo {
    margin: 20px 0 40px 0;
}

#graphContainer {
  padding: 10px;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-height: 500px;
  cursor: default;
  border: 1px solid;
}

#wrapper {
    padding-top: 60px;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.text-monospace {
  font-family: Consolas, "Courier New", Courier, monospace;
}


.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        display: block;
    }
}

.navbar-brand:hover span {
    display: none;
}

.breadcrumb {
    background: transparent;
}

.sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    top: 64px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: transparent;
    scrollbar-width: thin;
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: #ddd;
}

.sidebar .nav {
    background-color: transparent;
}

.lab-label {
    margin-right: 4px;
}


.nav-second-level {
    max-height:400px ;
    overflow:auto ;
}
.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
  content:"";
  display:block;
  position:absolute;
  left:20px;
  width:15px;
  height:1px;
  background:#056C9F;
/*	background:#ff0000; */
  top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
  content:"";
  display:block;
  position:absolute;
  left:20px;
  width:1px;
  height:100%;
  background:#056C9F;
  top:0px;
  z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
  height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
  left:40px;
}
.single-line br {
    display: none
}
