.node circle {
    stroke-width: 1.5px;
    stroke: steelblue;
}

.node {
    cursor: pointer;
}

.node text {
    font-size:13px; 
  }

.node.notFound {
/* not using opaciy to avoid conflicts when reverting related node filter */
  fill: #ddd;
}

.node.notFound circle {
  stroke: #ddd!important;
  fill: #ddd!important;
}

.link {
    fill: none;
    stroke: #ddd;
    stroke-width: 1.5px;
}

/*Position of the filter panel*/
.filters {
  position: absolute; /*Change to "fixed" to scroll with the filter fixed in that position*/
  top: 50px;
  left:1200px; 
  width: 200px;  
}

.filters .panel-heading {
  background-color: #2196F3;
  color: white;
}

.texbox {
  position: absolute; /*Change to "fixed" to scroll with the filter fixed in that position*/
  top: 120px;
  left:35px; 
  width: 270px;  
}

.filters .btn {
    margin: 1px;
    line-height: 1.3;
  }

/*Switch button and its properties*/
.switch { 
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 1px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.json-upate-label {
    padding: 15px;
    border-radius: 10px 10px 0 0;
}

.json-upate-label a {
    cursor: pointer;
}

#json-data {
    font-size: 12px;
    font-family: monospace;
    width: 100%;
    height: 250px;
}

/*
#node-active {
    font-size: 14px;
    font-weight: bold;
}
#node-active text {
    fill: rgb(0, 162, 255);
}
*/

#graph {
    width: 960px;
    margin:initial;
}

/* Force the footer on bottom
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
  }
*/
